a, a:focus, a:hover, a:active {
  color: #798B97;
}
a:hover {
  color: #798B97;
}
::-moz-selection {
  color: #ffffff;
  background: #798B97;
}
::selection {
  color: #ffffff;
  background: #798B97;
}
.header-navigation a:hover,
.header-navigation li.current a {
  color: #798B97;
}
.tb-socio .fa:hover {
  color: #798B97;
  border: solid 1px #798B97;
}
.carousel-indicators li.active {
  background: #798B97;
}
.go2top:hover {
  border: solid 2px #798B97;
  color: #798B97;
}
.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
  color: #798B97;
}
.slider-item-1 .large_bold_white span,
.slider-item-2 .large_bold_white span {
  color: #798B97;
}
.tp-caption a {
    color: #798B97;
}
.services-block .fa {
  background: #798B97;
}
.services-block .fa:after {
  border-top: 9px solid #798B97;
}
.team-block em {
  color: #798B97;
}
.portfolio-block .item > a {
  background: rgba(121, 139, 151, 0.85);
}
.choose-us-block .panel-default .accordion-toggle:before {
  background-color: #798B97;
}
.choose-us-block .panel-default .collapsed:before {
  background-color: #495764;/* black */
}
.choose-us-block .panel-default .panel-title:hover .collapsed:before {
  background-color: #798B97;
}
.btn-primary {
  background: #798B97;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #777c7f;
}
.facts-block .item {
  background: rgba(121, 139, 151, 0.92);
}
.pi-price strong {
  background: #798B97;
}
.pi-price strong:after {
  border-top: 9px solid #798B97;
}
.pricing-content .list-unstyled li i {
  color: #798B97;
}
.pricing-footer .btn-default:hover,
.pricing-footer .btn-default:active {
  background: #798B97;
}
.portfolio-block .item b:hover {
  color: #798B97;
}
@media (max-width: 1024px) {
  .header-mobi-ext .header-navigation a:hover,
  .header-mobi-ext .header-navigation li.current a{
    background-color: #798B97;
    color: #ffffff !important;
  }
}
.header .mobi-toggler:hover {
  background-color: #798B97;
  border-color: #798B97;
}