.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #ff8a3c; }
.kwd, .prettyprint .tag { color: #195f91; }
.typ, .atn, .dec, .var { color: #3fbf79; }
.pln { color: #48484c; }
.pun{ color:#48484c; }
pre.prettyprint {
  padding: 20px;
  background-color: #f3f3f3;
  border: 0px solid #e1e1e8;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 40px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #ffffff;
}